<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        #pathname{
            color:hotpink;
        }
    </style>
</head>
<body>
    <h1>Index Of <span id="pathname"><%= pathname %></span></h1>
    <ul>
        <% for(let i=0;i<files.length;i++) { %>
        <li><a href="<%= pathname %><%= pathname==='/' ? '' : '/' %><%=files[i]%>"><%= files[i] %></a></li>
        <% } %>
    </ul>
</body>
</html>