<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天气查询</title>
    <link crossorigin="anonymous" href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet">
    <style>
        #result {
            height: 200px;
            border: solid 1px #98a;
        }
    </style>
    <script src="./ejs.js"></script>
    <!-- <script src="./node_modules/ejs/ejs.js"></script> -->
</head>

<body>
    <div class="container">
        <h2 class="page-header">天气查询</h2>
        <div class="row weather">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" name="city" class="form-control" placeholder="输入城市名称">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">搜索</button>
                    </span>
                </div><!-- /input-group -->
            </div>

        </div>
        <div class="clearfix"></div>
        <hr>
        <div id="result">
            
        </div>
    </div>

    <script>
        //获取 button 按钮
        let btn = document.querySelector('.weather button');
        let result = document.querySelector('#result');

        btn.onclick = function () {
            //获取用户输入的城市
            let city = document.querySelector('input[name=city]').value;
            //发送 AJAX 请求
            let x = new XMLHttpRequest();
            //绑定事件
            x.onreadystatechange = function () {
                if (x.readyState === 4 && x.status === 200) {
                    //处理 将数据解析成 JS对象
                    let d = JSON.parse(x.responseText);
                    console.log(d);
                    //显示数据
                    let str = `<h3><%= data['city'] %></h3>
                                <ul>
                                    <% for(let i=0;i<data.data.length;i++){ %>
                                    <li><%= data.data[i].day %> - <%= data.data[i].wea %></li>
                                    <% } %>
                                </ul>`;
                    //使用 ejs 解析数据
                    let res = ejs.render(str, {data: d});
                    //设置
                    result.innerHTML = res;
                }
            }
            //初始化  
            let url = `https://www.tianqiapi.com/api/?version=v1&city=${city}&appid=23941491&appsecret=TXoD5e8P`;
            x.open('GET', url);
            //发送
            x.send();
        }

    </script>
</body>

</html>